.container {
    max-width: 540px;
    margin-top: 5%;
}

#note-body-textarea {
    height: 120px;
}

#note-body-textarea {
    resize: vertical;
}

#note-save-button {
    width: 100%;
}

#note-view-button {
    width: 100%;
}
