.container {
    max-width: 540px;
}

#note-body-textarea {
    height: 120px;
}

#note-body-textarea {
    resize: vertical;
}

#note-save-button {
    width: 100%;
}

#view-notes-div {
    max-width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#note-view-button {
    width: 100%;
    max-width: 500px;
    margin-top: 0px;
}

#header-div {
    margin-top: 5%;
    text-align: center;
}
